<footer style="background-color: #f7fafc; padding: 1rem;">
  <div style="display: flex; align-items: center; justify-content: center;">
    <p style="margin: 0; padding: 0; font-size: 0.875rem; opacity: 0.7; display: flex; align-items: center;">
      <span style="padding-right: 0.5rem;"></span>
      <a href="http://gchat.qpic.cn/gchatpic_new/0/-0-D27653EA831AD02BA7B95494E8E7D6B8/0" target="_blank" style="display: inline-flex; align-items: center; justify-content: center; text-decoration: none; margin-right: 0.5rem;">
        <img src="http://gchat.qpic.cn/gchatpic_new/0/-0-D27653EA831AD02BA7B95494E8E7D6B8/0" alt="微信" style="height: 100%; width: 100%; display: block;">
      </a>
      <span style="padding: 0 0.5rem;">|</span>
      <a href="http://gchat.qpic.cn/gchatpic_new/0/-0-6024475595B470912689CCC0D89C86AE/0" target="_blank" style="display: inline-flex; align-items: center; justify-content: center; text-decoration: none; margin-left: 0.5rem;">
        <img src="http://gchat.qpic.cn/gchatpic_new/0/-0-6024475595B470912689CCC0D89C86AE/0" alt="赞赏码" style="height: 100%; width: 100%; display: block;">
      </a>
    </p>
  </div>
</footer>
    
